@font-face {
  font-family: 'Calibri';
  src:url('./assets/fonts/calibri-font-family/calibri-bold.ttf');
  src:url('./assets/fonts/calibri-font-family/calibri-bold-italic.ttf');
  src:url('./assets/fonts/calibri-font-family/calibri-italic.ttf');
  src:url('./assets/fonts/calibri-font-family/calibri-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Barcode 39 Text';
  src:url('./assets/fonts/libre-barcode-39-text/LibreBarcode39Text-Regular.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  src:url('./assets/fonts/source_code_pro/SourceCodePro-Light.ttf');
}

@font-face {
  font-family: 'Pattaya';
  src:url('./assets/fonts/pattaya/Pattaya-Regular.ttf');
}

@font-face {
  font-family: 'Ethnocentric';
  src:url('./assets/fonts/ethnocentric/ethnocentric rg.ttf');
}

@font-face {
  font-family: 'Arty';
  src:url('./assets/fonts/arty-signature/Arty Signature.otf');
}

@keyframes scanner {
  0% {
      bottom: 0;
  }
  25% {
      background-color: red;
      box-shadow: 5px 5px 10px red;
  }
  50% {
      bottom: 32px;
  }
  75% {
      background-color: red;
      box-shadow: 5px 5px 10px red;
      bottom: 0;
      width: 100%;
  }
  100% {
      width: 0%;
  }
}

@keyframes mask-ltr {
  to {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

:root {
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --text-color-grey: #CCDBDC;
  --background-color-dark: #333;
  --background-color-light: #fff;
  --accent-color: #00ceff;
  --accent-color-dark: #007EA7;
  --accent-color-prussian-blue: #003249;
  --scanner-animation-color: rgb(173, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0px -1px 1px var(--accent-color inset);
}

body {
  /* 3 rows - header main footer*/
  font-family: "Calibri", sans-serif;
  position: relative;
  color: #333;
  background-color: #eeeeee;
}

section {
  position: relative;
  min-height: 400px;
}

h1 {
  font-family: 'Pattaya', sans-serif;
  letter-spacing: 3px;
  font-size: 2.5rem;
  max-width: 15ch;
}

h2 {
  font-family: 'Libre Barcode 39 Text', sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  width: min-content;
  margin: 0 auto;
}

h3 {
  font-family: 'Pattaya', sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-variant: small-caps;
  color: var(--accent-color-dark);
}

h6 {
  font-family: 'Arty', sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  color: var(--accent-color);
  text-align: center;
}

p {
  line-height: 2.5ch;
  max-width: 50ch;
}

a {
  font-family: 'Source Code Pro', sans-serif;
  text-decoration: none;
  color: var(--text-color-light);
}

small {
  color: var(--text-color-light);
  opacity: 0.9;
}

.c-t-a {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  max-width: 200px;
  margin: 1rem auto;
  padding: 20px 0;
  background: hsla(192, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(195, 100%, 33%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(195, 100%, 33%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(195, 100%, 33%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00CEFF", endColorstr="#007EA7", GradientType=1 );
}

.c-t-a-ghost {
  color: var(--accent-color-dark);
  background: none;
  border: 1px solid;
}

.accent-text {
  color: hsla(192, 100%, 50%, 1);
  color: linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(195, 100%, 33%, 1) 100%);
  color: -moz-linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(195, 100%, 33%, 1) 100%);
  color: -webkit-linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(195, 100%, 33%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00CEFF", endColorstr="#007EA7", GradientType=1 );
}

abbr {
  font-family: 'Ethnocentric', sans-serif;
}

details, summary {
  padding: .5rem;
  margin-bottom: .2rem;
}

ul li {
  list-style: none;
}

.container-xsm {
  padding: .5rem 1rem;
}

.container-sm {
  padding: 2rem 1rem;
}

.container-md {
  padding: 80px 1rem 40px 1rem;
}

.container-lg {
  padding: 100px 200px;
}

.center-text {
  text-align: center;
}

.vertical-align-text {
  vertical-align: middle;
}

.grid {
  display: grid;
}

.min-height {
  min-height: calc((100vh - 50px));
}

.fa-external-link-alt {
  font-size: 10px;
}

.mask-ltr {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  animation-name: mask-ltr;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.scanner {
  animation-name: scanner;
  animation-duration: 500ms;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.seo-score {
  float: right;
}

