@font-face {
  font-family: Calibri;
  src: url("../../assets/fonts/calibri-font-family/calibri-bold.ttf");
  src: url("../../assets/fonts/calibri-font-family/calibri-bold-italic.ttf");
  src: url("../../assets/fonts/calibri-font-family/calibri-italic.ttf");
  src: url("../../assets/fonts/calibri-font-family/calibri-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Libre Barcode 39 Text";
  src: url("../../assets/fonts/libre-barcode-39-text/LibreBarcode39Text-Regular.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  src: url("../../assets/fonts/source_code_pro/SourceCodePro-Light.ttf");
}
@font-face {
  font-family: "Pattaya";
  src: url("../../assets/fonts/pattaya/Pattaya-Regular.ttf");
}
@font-face {
  font-family: "Ethnocentric";
  src: url("../../assets/fonts/ethnocentric/ethnocentric rg.ttf");
}
@font-face {
  font-family: "Arty";
  src: url("../../assets/fonts/arty-signature/Arty Signature.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0px -1px 1px #00ceff inset;
}

body {
  /* 3 rows -- header main footer*/
  font-family: "Calibri", sans-serif;
  position: relative;
  color: #333;
}

section {
  position: relative;
  min-height: 400px;
}

h1 {
  font-family: "Pattaya", sans-serif;
  letter-spacing: 3px;
  font-size: 2.5rem;
  max-width: 15ch;
}

h2 {
  font-family: "Libre Barcode 39 Text", sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}

h3 {
  font-family: "Pattaya", sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-variant: small-caps;
  color: #007EA7;
}

h6 {
  font-family: "Arty", sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #00ceff;
  text-align: center;
}

p {
  line-height: 2.5ch;
  max-width: 50ch;
}

a {
  font-family: "Source Code Pro", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

small {
  color: #ffffff;
  opacity: 0.9;
}

.c-t-a {
  font-family: "Source Code Pro", sans-serif;
  display: block;
  max-width: 200px;
  margin: 1rem auto;
  padding: 20px 0;
  background: #007ea8;
  background: linear-gradient(45deg, #007ea8 0%, #003147 100%);
  background: -webkit-linear-gradient(45deg, #007ea8 0%, #003147 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007EA7", endColorstr="#003249", GradientType=1 );
}

.c-t-a-ghost {
  color: #00ceff;
  background: none;
  border: 1px solid;
}

.accent-text {
  color: #00ccff;
  color: linear-gradient(90deg, #00ccff 0%, #00bceb 50%, #00afdb 100%);
  color: -moz-linear-gradient(90deg, #00ccff 0%, #00bceb 50%, #00afdb 100%);
  color: -webkit-linear-gradient(90deg, #00ccff 0%, #00bceb 50%, #00afdb 100%);
  filter: 'progid: DXImageTransform.Microsoft.gradient( startColorstr="#00CEFF", endColorstr="#00BDED", GradientType="1" )';
}

abbr {
  font-family: "Ethnocentric", sans-serif;
}

details, summary {
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}

ul li {
  list-style: none;
}

.container-xsm {
  padding: 0.5rem 1rem;
}

.container-sm {
  padding: 2rem 1rem;
}

.container-md {
  padding: 80px 1rem 40px 1rem;
}

.container-lg {
  padding: 100px 200px;
}

.center-text {
  text-align: center;
}

.vertical-align-text {
  vertical-align: middle;
}

.grid {
  display: grid;
}

.fa-external-link-alt {
  font-size: 10px;
}

.mask-ltr {
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  -webkit-animation-name: mask-ltr;
          animation-name: mask-ltr;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mask-ttb-idle {
  transform: translateY(-150%);
  z-index: -1;
}

.scanner {
  -webkit-animation-name: scanner;
          animation-name: scanner;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header {
  position: sticky;
  z-index: 9;
  top: 0px;
  height: 50px;
  background-color: #fff;
}
header nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  width: 100%;
  box-shadow: 1px 0px 5px #333;
}
header nav div {
  height: 50px;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: #fff;
}
header nav button {
  background-color: unset;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1rem;
  z-index: 9;
}
header nav button i {
  font-size: 25px;
}
header nav ul {
  position: absolute;
  background-color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #000000;
}
header nav ul li i {
  font-size: 2rem;
}
header nav ul li a {
  color: #000000;
}
header nav ul li:last-child {
  border-bottom: none;
}

@-webkit-keyframes scanner {
  0% {
    bottom: 0;
  }
  25% {
    background-color: red;
    box-shadow: 5px 5px 10px red;
  }
  50% {
    bottom: 32px;
  }
  75% {
    background-color: red;
    box-shadow: 5px 5px 10px red;
    bottom: 0;
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes scanner {
  0% {
    bottom: 0;
  }
  25% {
    background-color: red;
    box-shadow: 5px 5px 10px red;
  }
  50% {
    bottom: 32px;
  }
  75% {
    background-color: red;
    box-shadow: 5px 5px 10px red;
    bottom: 0;
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes mask-ltr {
  to {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes mask-ltr {
  to {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
main section {
  position: relative;
  overflow-x: hidden;
}
main section h2 span {
  display: block;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 3px;
  z-index: 2;
  background-color: #ad0000;
}

main section:nth-child(1) {
  /* HERO SECTION */
  background: url("../../assets/images/line-graphic.png");
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  background-color: #003249;
  min-height: calc(100vh - 50px);
}
main section:nth-child(1) p {
  font-size: 22px;
}
main section:nth-child(1) div.container-md {
  border: none !important;
}

main section:nth-child(odd) div.container-md {
  border: 1px solid #003c58;
}

main section:nth-child(even) {
  position: relative;
  z-index: 1;
}
main section:nth-child(even) div.container-md {
  border: 1px solid #007298;
}

.quick-start {
  text-align: center;
}
.quick-start p {
  margin: 0 auto;
}
.quick-start li {
  padding: 5px;
}
.quick-start li a {
  display: block;
}

.back-to-top {
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
  top: 90vh;
  left: 80vw;
  width: 50px;
  height: 50px;
  z-index: 9;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.back-to-top i {
  color: #00ceff;
}

.triangle {
  width: 0;
  height: 0;
  border-right: 12.5px solid transparent;
  border-left: 12.5px solid transparent;
  border-bottom: 21.650635px solid #00ceff;
}

.seo-score {
  float: right;
}

footer {
  text-align: center;
  background-color: #1a1a1a;
}
footer div {
  background-color: #333;
}
footer ul {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
footer ul li a {
  display: grid;
  grid-template-columns: minmax(200px, 200px);
  text-align: center;
  padding: 1rem;
  list-style: none;
}
footer ul li a span {
  position: relative;
  text-align: center;
}
footer ul li a span i {
  position: absolute;
  right: 0;
}
footer address {
  text-align: start;
}

.link-icon {
  justify-self: center;
  font-size: 2rem;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL19mb250cy5zY3NzIiwiaW5kZXguY3NzIiwiLi4vX2dsb2JhbHMuc2NzcyIsIi4uL192YXJpYWJsZXMuc2NzcyIsIi4uL2NvbXBvbmVudHMvX2hlYWRlci5zY3NzIiwiLi4vX2FuaW1hdGlvbnMuc2NzcyIsIi4uL2NvbXBvbmVudHMvX21haW4uc2NzcyIsIi4uL2NvbXBvbmVudHMvX2Zvb3Rlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0ksb0JBQUE7RUFDQSxtRUFBQTtFQUNBLDBFQUFBO0VBQ0EscUVBQUE7RUFDQSxzRUFBQTtFQUNBLG1CQUFBO0VBQ0Esa0JBQUE7QUNDSjtBREVBO0VBQ0ksb0NBQUE7RUFDQSxtRkFBQTtBQ0FKO0FER0E7RUFDSSw4QkFBQTtFQUNBLHNFQUFBO0FDREo7QURJQTtFQUNJLHNCQUFBO0VBQ0EsMERBQUE7QUNGSjtBREtBO0VBQ0ksMkJBQUE7RUFDQSwrREFBQTtBQ0hKO0FETUE7RUFDSSxtQkFBQTtFQUNBLGdFQUFBO0FDSko7QUN4QkE7RUFDSSxVQUFBO0VBQ0EsU0FBQTtFQUNBLHNCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLHNCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGFBQUE7RUFDQSxzQ0FBQTtBRDBCSjs7QUN2QkE7RUFDSSxnQ0FBQTtFQUNBLGtDQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGtCQUFBO0VBQ0EsaUJBQUE7QUQwQko7O0FDdkJBO0VBQ0ksa0NBQUE7RUFDQSxtQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtBRDBCSjs7QUN2QkE7RUFDSSxnREFBQTtFQUNBLG9CQUFBO0VBQ0EsaUJBQUE7RUFDQSwwQkFBQTtFQUFBLHVCQUFBO0VBQUEsa0JBQUE7RUFDQSxjQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGtDQUFBO0VBQ0EsZUFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSx3QkFBQTtFQUNBLGNDOUNtQjtBRndFdkI7O0FDdkJBO0VBQ0ksK0JBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7RUFDQSxjQ3REVztFRHVEWCxrQkFBQTtBRDBCSjs7QUN2QkE7RUFDSSxrQkFBQTtFQUNBLGVBQUE7QUQwQko7O0FDdkJBO0VBQ0ksMENBQUE7RUFDQSxxQkFBQTtFQUNBLGNDdkVlO0FGaUduQjs7QUN2QkE7RUFDSSxjQzNFZTtFRDRFZixZQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLDBDQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7RUFDQSw0REFBQTtFQUVBLG9FQUFBO0VBQ0Esb0hBQUE7QUQwQko7O0FDdkJBO0VBQ0ksY0N4Rlc7RUR5RlgsZ0JBQUE7RUFDQSxpQkFBQTtBRDBCSjs7QUN2QkE7RUFDSSxjQUFBO0VBQ0Esb0VBQUE7RUFDQSx5RUFBQTtFQUNBLDRFQUFBO0VBQ0EseUhBQUE7QUQwQko7O0FDdkJBO0VBQ0ksdUNBQUE7QUQwQko7O0FDdkJBO0VBQ0ksZUFBQTtFQUNBLHFCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGdCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLG9CQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGtCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLDRCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLG9CQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGtCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLHNCQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLGFBQUE7QUQwQko7O0FDdkJBO0VBQ0ksZUFBQTtBRDBCSjs7QUN2QkE7RUFDSSwwREFBQTtVQUFBLGtEQUFBO0VBQ0EsZ0NBQUE7VUFBQSx3QkFBQTtFQUNBLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSwyQkFBQTtVQUFBLG1CQUFBO0VBQ0EsOENBQUE7VUFBQSxzQ0FBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7QUQwQko7O0FDdkJBO0VBQ0ksNEJBQUE7RUFDQSxXQUFBO0FEMEJKOztBQ3ZCQTtFQUNJLCtCQUFBO1VBQUEsdUJBQUE7RUFDQSxpQ0FBQTtVQUFBLHlCQUFBO0VBQ0EsMkJBQUE7VUFBQSxtQkFBQTtFQUNBLDBDQUFBO1VBQUEsa0NBQUE7RUFDQSxxQ0FBQTtVQUFBLDZCQUFBO0FEMEJKOztBR2pNQTtFQUNJLGdCQUFBO0VBQ0EsVUFBQTtFQUNBLFFBQUE7RUFDQSxZQUFBO0VBQ0Esc0JESnFCO0FGd016QjtBR2xNSTtFQUNJLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLDhDQUFBO0VBQUEsc0NBQUE7RUFDQSxXQUFBO0VBQ0EsNEJBQUE7QUhvTVI7QUdsTVE7RUFDSSxZQUFBO0VBQ0Esb0JBQUE7RUFDQSxhQUFBO0VBQ0EsbUJBQUE7RUFDQSxVQUFBO0VBQ0Esc0JEbkJhO0FGdU56QjtBR2pNUTtFQUNJLHVCQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7RUFDQSxvQkFBQTtFQUNBLFVBQUE7QUhtTVo7QUdqTVk7RUFDSSxlQUFBO0FIbU1oQjtBRy9MUTtFQUNJLGtCQUFBO0VBQ0Esc0JEcENhO0VDcUNiLDBCQUFBO0VBQUEsdUJBQUE7RUFBQSxrQkFBQTtBSGlNWjtBRy9MWTtFQUNJLGFBQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBO0VBQ0EsU0FBQTtFQUNBLG9CQUFBO0VBQ0EsZ0NBQUE7QUhpTWhCO0FHL0xnQjtFQUNJLGVBQUE7QUhpTXBCO0FHOUxnQjtFQUNJLGNEdkRGO0FGdVBsQjtBRzdMWTtFQUNJLG1CQUFBO0FIK0xoQjs7QUkzUEE7RUFDSTtJQUNJLFNBQUE7RUo4UE47RUk1UEU7SUFDSSxxQkFBQTtJQUNBLDRCQUFBO0VKOFBOO0VJNVBFO0lBQ0ksWUFBQTtFSjhQTjtFSTVQRTtJQUNJLHFCQUFBO0lBQ0EsNEJBQUE7SUFDQSxTQUFBO0lBQ0EsV0FBQTtFSjhQTjtFSTVQRTtJQUNJLFNBQUE7RUo4UE47QUFDRjs7QUlqUkE7RUFDSTtJQUNJLFNBQUE7RUo4UE47RUk1UEU7SUFDSSxxQkFBQTtJQUNBLDRCQUFBO0VKOFBOO0VJNVBFO0lBQ0ksWUFBQTtFSjhQTjtFSTVQRTtJQUNJLHFCQUFBO0lBQ0EsNEJBQUE7SUFDQSxTQUFBO0lBQ0EsV0FBQTtFSjhQTjtFSTVQRTtJQUNJLFNBQUE7RUo4UE47QUFDRjtBSTNQQTtFQUNJO0lBQ0ksOERBQUE7WUFBQSxzREFBQTtFSjZQTjtBQUNGO0FJaFFBO0VBQ0k7SUFDSSw4REFBQTtZQUFBLHNEQUFBO0VKNlBOO0FBQ0Y7QUtsUkE7RUFDSSxrQkFBQTtFQUNBLGtCQUFBO0FMb1JKO0FLbFJJO0VBQ0ksY0FBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0EsV0FBQTtFQUNBLFVBQUE7RUFDQSx5QkhQa0I7QUYyUjFCOztBS2hSQTtFQUNJLGlCQUFBO0VBQ0EsdURBQUE7RUFDQSxnQ0FBQTtFQUNBLHdCQUFBO0VBQ0EsNEJBQUE7RUFDQSw0QkFBQTtFQUNBLGNIMUJlO0VHMkJmLHlCSHBCeUI7RUdxQnpCLDhCQUFBO0FMbVJKO0FLalJJO0VBQ0ksZUFBQTtBTG1SUjtBS2pSSTtFQUNJLHVCQUFBO0FMbVJSOztBSzVRSTtFQUNJLHlCQUFBO0FMK1FSOztBSzNRQTtFQUNJLGtCQUFBO0VBQ0EsVUFBQTtBTDhRSjtBSzVRSTtFQUNJLHlCQUFBO0FMOFFSOztBSzFRQTtFQUNJLGtCQUFBO0FMNlFKO0FLM1FJO0VBQ0ksY0FBQTtBTDZRUjtBSzFRSTtFQUNJLFlBQUE7QUw0UVI7QUsxUVE7RUFDSSxjQUFBO0FMNFFaOztBS3ZRQTtFQUNJLGVBQUE7RUFDQSxhQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxVQUFBO0VBQ0Esc0RBQUE7VUFBQSw4Q0FBQTtBTDBRSjtBS3hRSTtFQUNJLGNIakZPO0FGMlZmOztBS3RRQTtFQUNJLFFBQUE7RUFDQSxTQUFBO0VBQ0Esc0NBQUE7RUFDQSxxQ0FBQTtFQUNBLHdDQUFBO0FMeVFKOztBS3RRQTtFQUNJLFlBQUE7QUx5UUo7O0FNMVdBO0VBQ0ksa0JBQUE7RUFDQSx5QkFBQTtBTjZXSjtBTTNXSTtFQUNJLHNCSkpnQjtBRmlYeEI7QU0xV0k7RUFDSSxhQUFBO0VBQ0EsbUJBQUE7RUFDQSx1QkFBQTtBTjRXUjtBTTFXUTtFQUNJLGFBQUE7RUFDQSwyQ0FBQTtFQUNBLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0FONFdaO0FNMVdZO0VBQ0ksa0JBQUE7RUFDQSxrQkFBQTtBTjRXaEI7QU0xV1k7RUFDSSxrQkFBQTtFQUNBLFFBQUE7QU40V2hCO0FNdldJO0VBQ0ksaUJBQUE7QU55V1I7O0FNcldBO0VBQ0ksb0JBQUE7RUFDQSxlQUFBO0FOd1dKIiwiZmlsZSI6ImluZGV4LmNzcyJ9 */