@use '../variables' as *;

footer {
    text-align: end;
    background-color: darken($background-color, 10);

    div {
        background-color: $background-color;
    }

    ul {
        display: grid;
        grid-auto-flow: rows;
        justify-content: center;

        li {
            list-style: none;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            padding: 1rem;
        }
    }

    i {
        font-size: 2rem;
    }

    a i {
        font-size: 10px;
        margin-left: 2px;
    }
}