@use '../variables' as *;

footer {
    text-align: end;
    background-color: darken($background-color, 10);

    div {
        background-color: $background-color;
    }

    ul {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;

        li a{
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            padding: 1rem;
            list-style: none;
        }
    }

    a i {
        font-size: 10px;
        margin-left: 2px;
    }
}

.link-icon {
    justify-self: center;
    font-size: 2rem;
}