@use '../variables' as *;

header {
    position: sticky;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    align-items: center;
    z-index: 9;
    top: 0px;
    padding: .2rem 1rem;
    background-color: $header-background-color;

    nav {
        position: relative;
        width: 100%;

        a {
            display: grid;
            align-items: center;
        }
    }

    ul {
        display: none;

        li a {
            display: grid;
            align-items: center;
        }
    }

    button {
        background-color: unset;
        border: none;
        cursor: pointer;
    }

    figure div {
        width: 40px;
        height: 3px;
        background-color: $background-color;
        margin: 4px 0;
    }
}

.toggle-nav {
    display: grid;
    background-color: $background-color;
    width: 100%;
}