@use '../variables' as *;
@use '../functions' as *;

header {
    position: sticky;
    align-items: center;
    z-index: 9;
    top: 0px;
    padding: 0 1rem;
    background-color: $header-background-color;

    nav {
        position: relative;
        display: grid;
        grid-template-columns: 1fr min-content;
        width: 100%;

        a {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            color: $text-color-dark;
        }
    }

    ul {
        display: none;
        position: absolute;
        background-color: darken($background-color, 10);
        width: min-content;

        li {
            display: inline;
            align-items: center;

            a {
                display: grid;
                align-items: center;
                justify-content: space-between;
                color: $text-color-light;
                padding: 1.5rem 1rem;
                border-bottom: 1px solid $text-color-dark;

                i {
                    font-size: 2rem;
                    padding: 0 15px;
                }
            }   
        }
    }

    button {
        background-color: unset;
        border: none;
        cursor: pointer;
        z-index: 9;

        i {
            font-size: 25px;
        }
    }

    
}

.toggle-nav {
    display: grid;
}
