@use '../variables' as *;
@use '../functions' as *;

header {
    position: sticky;
    align-items: center;
    z-index: 9;
    top: 0px;
    height: 50px;
    padding: 0.4rem 1rem;
    background-color: $header-background-color;

    nav {
        position: relative;
        display: grid;
        grid-template-columns: 1fr min-content;
        width: 100%;

        a {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            grid-template-columns: auto 1fr;
            color: $text-color-dark;
        }

        button {
            background-color: unset;
            border: none;
            cursor: pointer;
            z-index: 9;
    
            i {
                font-size: 25px;
            }
        }

        ul {
            display: none;
            position: absolute;
            background-color: $background-color;
            width: min-content;
    
            li {
                display: block;
                align-items: center;
    
                a {
                    display: grid;
                    align-items: center;
                    justify-content: space-between;
                    color: $text-color-light;
                    padding: 1.5rem 1rem;
                    border-bottom: 1px solid $text-color-dark;
    
                    i {
                        font-size: 2rem;
                        padding: 0 15px;
                    }
                }
            }
            li:last-child {
                border-bottom: none;
            }
        }
    } 
}

.toggle-nav {
    display: block;
}
