@use '../variables' as *;
@use '../functions' as *;

header {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    z-index: 9;
    top: 0px;
    padding: 0 1rem;
    background-color: $header-background-color;

    nav {
        position: relative;
        width: 100%;

        a {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            grid-template-columns: auto 1fr;
            color: $text-color-dark;
        }
    }

    ul {
        display: none;
        position: absolute;

        li {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: max-content 1fr;
            align-items: center;
        }

        li a {
            display: grid;
            align-items: center;
            color: $text-color-light;
            padding: 1.5rem 1rem;
            border-bottom: 1px solid $text-color-dark;
        }
    }

    button {
        background-color: unset;
        border: none;
        cursor: pointer;
    }

    i {
        font-size: 25px;
    }
}

.toggle-nav {
    display: grid;
    background-color: $background-color;
    width: 100%;
}