@use '../variables' as *;
@use '../functions' as *;
@use '../animations' as *;

main section {
    position: relative;
    overflow-x: hidden;
    background-color: $background-color;

    h2 span {
        display: block;
        position: relative;
        overflow-x: hidden;
        width: 100%;
        height: 0.1px;
        z-index: 2;
        background-color: rgb(173, 0, 0);
        animation-name: scanner;
        animation-duration: 4s;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .triangle {
        width: 25px;
        height: 25px;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        background-color: $accent-color;
    }
}

main section:nth-child(2) {
    /* HERO SECTION */
    background: url('../../assets/images/alexey-ruban-73o_FzZ5x-w-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;

    div {
        border: none !important;
    }
}

main section:nth-child(odd) {
    position: sticky;
    top: 0px;
    color: $text-color-light !important;
    background-color: $background-color;

    div {
        border: 1px solid darken($background-color, 3);
    }
}

main section:nth-child(even) {
    position: relative;
    background-color: $accent-background-color;
    z-index: 1;

    div {
        border: 1px solid lighten($accent-background-color, 3);
    }
}

.back-to-top {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px;
    top: 90vh;
    left: 80vw;
    width: 50px;
    height: 50px;
    z-index: 9;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    i{
        color: $accent-color;
    }
}