@use '../variables' as *;
@use '../functions' as *;
@use '../animations' as *;

main section {
    position: relative;
    overflow-x: hidden;
    background-color: $background-color;
}

main section:nth-child(2) {
    /* HERO SECTION */
    background: url('../../assets/images/alexey-ruban-73o_FzZ5x-w-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;
}

main section:nth-child(odd) {
    position: sticky;
    top: 0px;
}

main section:nth-child(even) {
    position: relative;
    background-color: $accent-background-color;
    z-index: 1;
}

main section h3 span {
    display: block;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 0.1px;
    background-color: rgb(173, 0, 0);
    z-index: 2;
    animation-name: scanner;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

.back-to-top {
    position: fixed;
    background-color: darken($accent-background-color, 10);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border: none;
    border-radius: 0px;
    top: 90vh;
    left: 80vw;
    z-index: 9;
    padding: .5rem 1rem;

    i{
        color: $accent-color;
    }
}