@use '../variables' as *;
@use '../functions' as *;
@use '../animations' as *;

main section {
    position: relative;
    overflow-x: hidden;
    background-color: $background-color;

    h2 {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        animation-name: mask-ltr;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    h2 span {
        display: block;
        position: relative;
        overflow-x: hidden;
        width: 100%;
        height: 3px;
        z-index: 2;
        background-color: rgb(173, 0, 0);
        animation-name: scanner;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    
}

main section:nth-child(1) {
    /* HERO SECTION */
    background: url('../../assets/images/alexey-ruban-73o_FzZ5x-w-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;

    div.container-md {
        border: none !important;
    }
}

main section:nth-child(odd) {
    position: sticky;
    top: 0px;
    color: $text-color-light !important;
    background-color: $accent-background-color;

    div.container-md {
        border: 1px solid lighten($accent-background-color, 3);
    }
}

main section:nth-child(even) {
    position: relative;
    background-color: $background-color;
    z-index: 1;

    div.container-md {
        border: 1px solid darken($background-color, 3);
    }
}

.quick-start {
    text-align: center;

    li {
        padding: 5px;
        
        a {
            display: block;
        }
    }
}

.back-to-top {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px;
    top: 90vh;
    left: 80vw;
    width: 50px;
    height: 50px;
    z-index: 9;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    i{
        color: $accent-color;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-right: 12.5px solid  transparent; 
    border-left: 12.5px solid  transparent; 
    border-bottom: 21.650635px solid $accent-color;
}