@use '../variables' as *;
@use '../functions' as *;
@use '../animations' as *;

main section {
    position: relative;
    overflow-x: hidden;
    background-color: $background-color;

    h2 span {
        display: block;
        position: relative;
        overflow-x: hidden;
        width: 100%;
        height: 3px;
        z-index: 2;
        background-color: rgb(173, 0, 0);
    }
}

main section:nth-child(1) {
    /* HERO SECTION */
    background: url('../../assets/images/line-graphic.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    p {
        font-size: 22px;
    }
    div.container-md {
        border: none !important;
    }
}

main section:nth-child(odd) {
    position: sticky;
    top: 0px;
    color: $text-color-light !important;
    background-color: $accent-color-prussian-blue;

    div.container-md {
        border: 1px solid lighten($accent-color-prussian-blue, 3);
    }
}

main section:nth-child(even) {
    position: relative;
    background-color: $accent-color-cg-blue;
    z-index: 1;

    div.container-md {
        border: 1px solid darken($accent-color-cg-blue, 3);
    }
}

.quick-start {
    text-align: center;

    li {
        padding: 5px;
        
        a {
            display: block;
        }
    }
}

.learn-more {
    background: url('../../assets/images/learn-more-graphic.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px;
    top: 90vh;
    left: 80vw;
    width: 50px;
    height: 50px;
    z-index: 9;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    i{
        color: $accent-color;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-right: 12.5px solid  transparent; 
    border-left: 12.5px solid  transparent; 
    border-bottom: 21.650635px solid $accent-color;
}

.seo-score {
    float: right;
}