@keyframes scanner {
    0% {
        bottom: 0;
    }
    25% {
        background-color: red;
        box-shadow: 5px 5px 10px red;
    }
    50% {
        bottom: 48px;
    }
    75% {
        background-color: red;
        box-shadow: 5px 5px 10px red;
        bottom: 0;
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes mask-ltr {
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}