@keyframes scanner {
    0% {
        bottom: 0;
    }
    25% {
        background-color: red;
        box-shadow: 5px 5px 10px red;
    }
    50% {
        bottom: 96px;
    }
    75% {
        background-color: red;
        box-shadow: 5px 5px 10px red;
        bottom: 0;
        width: 100%;
    }
    100% {
        width: 0%;
    }
}