@use './variables' as *;

@mixin defaultProperties {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin flexCenter($direction, $height) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    height: $height;
}

@function colorLightness($bgColor) {
    @if(lightness($bgColor) > 80) {
        @return $text-color-dark;
    } @else {
        @return $text-color-light;
    }
}

@mixin setBackgroundColor($color) {
    background-color: $color;
    color: textLightness($color);
}