@use './variables' as *;

@mixin defaultProperties {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin flexCenter($direction, $height) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    height: $height;
}

@function colorLightness($color) {
    @if(lightness($color) > 80) {
        @return darken($text-color, 20);
    } @else {
        @return $text-color;
    }
}

@mixin setBackgroundColor($color) {
    background-color: $color;
    color: textLightness($color);
}