@use './variables' as *;
@use './functions' as *;
@use './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
}

*::after, *::before {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0px -1px 1px $accent-color inset;
}

body {
    /* 3 rows -- header main footer*/
    position: relative;
    color: $text-color-light;
}

section {
    min-height: 100vh;
}

h1 {
    font-family: 'Pattaya', sans-serif;
    color: $accent-color;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    width: min-content;
    color: $text-color-light;
}

h3 {
    font-family: 'Ethnocentric', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    max-width: 17ch;
    margin-bottom: 20px;
    font-variant: small-caps;
}

h4 {
    font-family: 'Arty', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    color: $accent-color;
    text-align: center;
}

p {
    line-height: 2.5ch;
    max-width: 50ch;
}

a {
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    color: $text-color-light;
}

.c-t-a {
    display: block;
    max-width: 200px;
    margin: 1rem auto;
    padding: 20px 0;
    font-family: 'Source Code Pro', sans-serif;
    color: $text-color-light;
    background-color: $accent-color-cg-blue;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.c-t-a-ghost {
    color: $accent-color;
    background-color: unset;
    border: 1px solid;
}

abbr {
    font-family: 'Ethnocentric', sans-serif;
}

ul li {
    list-style: none;
}

.container-xsm {
    padding: .5rem 1rem;
}

.container-sm {
    padding: 2rem 1rem;
}

.container-md {
    padding: 100px 1rem;
}

.container-lg {
    padding: 100px 200px;
}

.center-text {
    text-align: center;
}

.fa-external-link-alt {
    font-size: 10px;
}
