@use './variables' as *;
@use './functions' as *;
@use './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

*::after, *::before {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0px -1px 1px $accent-color inset;
}

body {
    position: relative;
    display: grid;
    /* 3 rows -- header main footer signature*/
    grid-template-rows: auto 1fr auto;
    background-color: $background-color;
    color: $text-color-light;
}

section {
    min-height: 100vh;
}

h1 {
    font-family: 'Scriptina', sans-serif;
    color: $accent-color;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    width: min-content;
    color: $text-color-light;
}

h3 {
    font-family: 'Ethnocentric', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: $accent-color;
    margin-bottom: 20px;
    font-variant: small-caps;
}

h4 {
    font-family: 'Arty', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    color: $accent-color;
    text-align: center;
}

a {
    text-decoration: none;
    color: $text-color-light;
    font-family: 'Source Code Pro', sans-serif;
}

ul li {
    list-style: none;
}

.container-xsm {
    padding: .5rem 1rem;
}

.container-sm {
    padding: 2rem 1rem;
}

.container-md {
    padding: 100px 1rem;
}

.container-lg {
    padding: 100px 200px;
}

.border {
    border: 1px solid darken($background-color, 5);
    margin-top: 20px;
}

.center-text {
    text-align: center;
}
