@use './variables' as *;
@use './functions' as *;
@use './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
}

*::after, *::before {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0px -1px 1px $accent-color inset;
}

body {
    /* 3 rows -- header main footer*/
    position: relative;
    color: $text-color-light;
}

section {
    min-height: calc(100vh - 50px);
}

h1 {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 3px;
    font-size: 42px;
    max-width: 15ch;
}

h2 {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    width: min-content;
    margin: 0 auto;
    color: $text-color-light;
}

h3 {
    font-family: 'Ethnocentric', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-variant: small-caps;
}

h4 {
    font-family: 'Arty', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    color: $accent-color;
    text-align: center;
}

p {
    line-height: 2.5ch;
    max-width: 50ch;
}

a {
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    color: $text-color-light;
}

.c-t-a {
    font-family: 'Source Code Pro', sans-serif;
    display: block;
    max-width: 200px;
    margin: 1rem auto;
    padding: 20px 0;
    background: hsla(195, 100%, 33%, 1);
    background: linear-gradient(45deg, hsla(195, 100%, 33%, 1) 0%, hsla(199, 100%, 14%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(195, 100%, 33%, 1) 0%, hsla(199, 100%, 14%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(195, 100%, 33%, 1) 0%, hsla(199, 100%, 14%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007EA7", endColorstr="#003249", GradientType=1 );
}

.c-t-a-ghost {
    color: $accent-color;
    background: none;
    border: 1px solid;
}

abbr {
    font-family: 'Ethnocentric', sans-serif;
}

ul li {
    list-style: none;
}

.container-xsm {
    padding: .5rem 1rem;
}

.container-sm {
    padding: 2rem 1rem;
}

.container-md {
    padding: 80px 1rem 40px 1rem;
}

.container-lg {
    padding: 100px 200px;
}

.center-text {
    text-align: center;
}

.vertical-align-text {
    vertical-align: middle;
}

.grid {
    display: grid;
}

.fa-external-link-alt {
    font-size: 10px;
}

.mask-ltr {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    animation-name: mask-ltr;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.scanner {
    animation-name: scanner;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
