@use './variables' as *;
@use './functions' as *;
@use './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0px -1px 1px $accent-color inset;
}

body {
    /* 3 rows -- header main footer*/
    font-family: "Calibri", sans-serif;
    position: relative;
    color: #333;
}

section {
    position: relative;
    min-height: 400px;
}

h1 {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 3px;
    font-size: 2.5rem;
    max-width: 15ch;
}

h2 {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    width: min-content;
    margin: 0 auto;
}

h3 {
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-variant: small-caps;
    color: $accent-color-cg-blue;
}

h6 {
    font-family: 'Arty', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    color: $accent-color;
    text-align: center;
}

p {
    line-height: 2.5ch;
    max-width: 50ch;
}

a {
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    color: $text-color-light;
}

small {
    color: $text-color-light;
    opacity: 0.9;
}

.c-t-a {
    font-family: 'Source Code Pro', sans-serif;
    display: block;
    max-width: 200px;
    margin: 1rem auto;
    padding: 20px 0;
    background: hsla(195, 100%, 33%, 1);
    background: linear-gradient(45deg, hsla(195, 100%, 33%, 1) 0%, hsla(199, 100%, 14%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(195, 100%, 33%, 1) 0%, hsla(199, 100%, 14%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(195, 100%, 33%, 1) 0%, hsla(199, 100%, 14%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007EA7", endColorstr="#003249", GradientType=1 );
}

.c-t-a-ghost {
    color: $accent-color;
    background: none;
    border: 1px solid;
}

.accent-text {
    color: hsla(192, 100%, 50%, 1);
    color: linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(192, 100%, 46%, 1) 50%, hsla(192, 100%, 43%, 1) 100%);
    color: -moz-linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(192, 100%, 46%, 1) 50%, hsla(192, 100%, 43%, 1) 100%);
    color: -webkit-linear-gradient(90deg, hsla(192, 100%, 50%, 1) 0%, hsla(192, 100%, 46%, 1) 50%, hsla(192, 100%, 43%, 1) 100%);
    filter: 'progid: DXImageTransform.Microsoft.gradient( startColorstr="#00CEFF", endColorstr="#00BDED", GradientType="1" )';
}

abbr {
    font-family: 'Ethnocentric', sans-serif;
}

details, summary {
    padding: .5rem;
    margin-bottom: .2rem;
}

ul li {
    list-style: none;
}

.container-xsm {
    padding: .5rem 1rem;
}

.container-sm {
    padding: 2rem 1rem;
}

.container-md {
    padding: 80px 1rem 40px 1rem;
}

.container-lg {
    padding: 100px 200px;
}

.center-text {
    text-align: center;
}

.vertical-align-text {
    vertical-align: middle;
}

.grid {
    display: grid;
}

.fa-external-link-alt {
    font-size: 10px;
}

.mask-ltr {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    animation-name: mask-ltr;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.mask-ttb-idle {
    transform: translateY(-150%);
    z-index: -1;
}

.scanner {
    animation-name: scanner;
    animation-duration: 500ms;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
