@use './variables' as *;
@use './functions' as *;
@use './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

*::after, *::before {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0px -1px 1px $accent-color inset;
}

body {
    position: relative;
    display: grid;
    /* 3 rows -- header main footer signature*/
    grid-template-rows: auto 1fr auto;
    background-color: $background-color;
    color: $text-color-light;
}

section {
    min-height: 100vh;
}

h1 {
    font-family: 'Ethnocentric';
    color: $accent-color;
}

h3 {
    font-family: 'Libre Barcode 39 Text';
    font-weight: lighter;
    font-size: 3rem;
    width: min-content;
    color: $text-color-light;
}

h4 {
    font-family: 'Scriptina';
    font-size: 2rem;
    letter-spacing: 3px;
    color: $accent-color;
    width: max-content;
}

h6 {
    font-family: 'Arty';
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
    color: $accent-color;
}

p {
    color: darken($text-color-light, 10);
}

a {
    text-decoration: none;
    color: $text-color-light;
    font-family: 'Source Code Pro';
}

ul li {
    list-style: none;
}

.container-xsm {
    padding: .5rem 1rem;
}

.container-sm {
    padding: 2rem 1rem;
}

.container-md {
    padding: 100px 1rem;
}

.container-lg {
    padding: 100px 2rem;
}
