$text-color: #ffffff;
$background-color: #4d4d4d;
$background-color-light: #5d5d5d;
$header-text-color: black;
$header-background-color: #ffffff;
$accent-color: #00ffff;
$accent-background-color: #007474;