$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-grey: rgb(232, 233, 233);
$background-color-dark: #333;
$background-color-light: #fff;
$accent-color: #00ceff; 
$accent-color-cg-blue: #007EA7;
$accent-color-prussian-blue: #003249;
$scanner-animation-color: rgb(173, 0, 0);