$text-color-light: #ffffff;
$text-color-dark: #000000;
$background-color: #3d3d3d;
$header-background-color: #ffffff;
$accent-background-color: #003249;
$accent-color: #80CED7;
$accent-color-cg-blue: #007EA7;
$accent-color-prussian-blue: #003249;